[2018-03-15 21:04] dthierry opened #4 "casadi compatibility bug"
We have that for versions > 3.1.0 of casadi the following usually shows for all casadi simulation files

If an old version is in fact used this is usually not experienced.

Current solution:
use casadi 3.1.0 instead

Full traceback:
Traceback (most recent call last):
  File "ode_sim.py", line 52, in <module>
    results_casadi = sim.run_sim("cvodes")
  File "/home/dmolinat/kipet/kipet/kipet/sim/Ca

[2018-03-16 01:13] dthierry commented on #4
Possible solution https://github.com/casadi/casadi/commit/12aa2625fca29f63834169b3449025a2b39f9b67
i.e. try get_repr (I am testing this tomorrow)

[2018-03-18 20:47] dthierry commented on #4
I found out that we can use repr() for the current version of casadi (3.4.0). So I've added the bit:

This seems to work. But I am not sure for the versions > 3.1.0 but < 3.4.0.

[2018-03-18 20:47] #4 closed, assigned to dthierry, mchlshort

[2018-03-19 00:23] dthierry opened #6 "Mixture component/complementary states w/o odes"
Every mixture component/complementary state must have an ode.
Is there a counter example of this @mchlshort ?

I suggest throw an Exception whenever somebody misses an ODE.

[2018-03-19 19:44] mchlshort commented on #6
Hi @dthierry I think that we might need to include non-reacting components in the future that end up absorbing and still need to be taken into account. It is not a bad idea, but we might need to think a bit more about that. Let me know if you don't agree or if I am maybe missing something.

[2018-03-21 00:42] dthierry opened #7 "Create installation manual"
I recommend using pip and so forth.
How to get and install ipopt.
How to get and install python-pip.
How to install the dependencies.
How to install kipet.

[2018-03-21 00:45] dthierry opened #8 "Create a comprehensible documentation (.pdf included)"
As Sal noted.

[2018-03-21 14:06] mchlshort commented on #8
Hi David, I have already started a document as I work through all the code that will hopefully provide a step-by-step breakdown of what to include and why in each type of problem to be solved. Leave this part to me, as I feel that it is beneficial to my understanding of the software and coding to produce this. I will include parts of what is already there and include a more detailed breakdown as w

[2018-03-21 14:08] mchlshort commented on #7
Good idea. I will also work on this and include in the manual

[2018-03-21 14:10] mchlshort commented on #6
Great, as we noted in our discussion, we will be throwing an exception whenever an ODE is missing. If a component absorbs and does not react an ODE can be added that just ensures that the component concentration does not change with time. I will note this in the manual  as well.

[2018-04-02 20:50] dthierry opened #9 "Warning messages for algebraic equations CASE51d"
The Following message results from running example case51d.py

*WARNING: The number of algebraic equations is not the same as the number of algebraic variables.
 If this is the desired behavior, some algebraics must be added after the model is created.*
The following snippet can be found:

Algebraic variables (9):
[code]
Algebraic constraints (7 if I can count right):
[code]

This is can be a bug.

[2018-04-02 22:27] schenkch commented on #9
Yes, the last two equations depend on two algebraic variables. I think the example should be implemented in a different kind of way, such that v_sum and r_5 are not considered as algebraic variables any more. Does that make sense to you?

[2018-04-02 23:32] dthierry commented on #9
@schenkch Thank you.

[2018-04-03 15:38] schenkch opened #10 "Test examples"
In the attached file you find the result of testing all the examples manually.

[kipetexamplestest.txt](https://github.com/dthierry/kipet/files/1872229/kipetexamplestest.txt)

[2018-04-03 16:01] dthierry commented on #10
@schenkch Thank you!, now we have a comprehensive list of the cases that don't work

| Case        | file           | Reason  |
| ------------- |:-------------:| -----:|
| case51d (Casadi) | dae_sim.py | Jacobian calculation failed  |
| case51d (Casadi) | ode_sim.py |   dimension mismatch |
| case51d  | ode_sim2.py  | differential expressions not specified. Must be specified by user after creating

[2018-04-04 01:04] dthierry opened #11 "Pyomo integrator interfase"
Pyomo Integrator
-----------------------
The current capabilities of the Pyomo integrator are classified with respect to the current available packages *scipy* and *casadi*.
I have been meddling with them for a while now and I found a couple issues.
The current issues with these two are as follows:

Casadi
---------
Casadi would provide a proper DAE integrator capabilities. But there is a major bu

[2018-04-04 14:57] dthierry commented on #11
@mchlshort I tried the [B] * 0 on the RHS and it didn't work.¯\_(ツ)_/¯

[2018-04-10 20:30] dthierry opened #12 "Michaels problem."
Michaels `dae_sim.py` problem overall is considerably difficult to solve. @mchlshort do you have the reference for this problem?.

Even with my finite_by_finite element approach. The solution of the simulation problem struggles.

I see that some `init_X.csv` and `init_Z.csv` files do all the magic.

Any ideas?

[2018-04-10 20:49] schenkch opened #13 "DAE toolbox vs. manual collocation"
Is manual collocation even intended to be part of kipet? I did not find a single file which does not use the DAE toolbox. Are there any?

[2018-04-10 20:51] mchlshort commented on #13
As far as I am aware there was never any intention to include that. I might be wrong though. Going through the source code I could only find the Pyomo DAE toolbox being used.

[2018-04-10 21:02] mchlshort commented on #12
[Example – wavelength selection.pdf](https://github.com/dthierry/kipet/files/1896402/Example.wavelength.selection.pdf)

I have these couple slides as reference and I also have MATLAB and Ampl files for the problem. If you want me to I can e-mail these to you let me know. Not sure how useful they will be since they are for the MINLP model :/

[2018-04-10 21:17] dthierry commented on #13
That is correct. Would manual collocation be more useful?
We now have the first draft `fe_factory` which intends to provide a framework for marching forward finite per finite element with pyomo.dae. Although, it hasn't been merged into the main branch.

[2018-04-10 21:20] dthierry commented on #12
Ah, thanks @mchlshort. I will check the slides out.

[2018-04-11 14:19] schenkch commented on #13
Thanks. For now, I don't think so but it is definitely something we can discuss about again in detail.

[2018-04-14 03:54] dthierry commented on #12
Sorry for the question but is the formulation in `dae_sim.py` correct? I mean according to the slides. Particularly the `rule_odes.`

[2018-04-14 21:53] dthierry commented on #12
nvm I got it!

[2018-04-14 21:53] #12 closed, assigned to nobody

[2018-04-16 20:50] mchlshort commented on #10
Fixed the examples 52a estimation.py and 52b estimation.py and put into Branch Mike-ExamplesFixed . Some issues with both as they give k values quite far from the apparent optimal. Can provide fixed k and run successfully as was done in the original model, but I removed the fixed k and they run, just give very different k values. Updated txt file here:
[kipetexamplestest.txt](https://github.com/dt

[2018-04-16 20:52] mchlshort commented on #7
I have finished the installation manual and included it in the documentation. Just going to close this thread so that things look a little less cluttered.

[2018-04-16 20:52] #7 closed, assigned to nobody

[2018-04-16 21:10] mchlshort opened #14 "subset_lambdas = A_set option bug for VarianceEstimator.run_opt"
In the paper by Weifeng, during the variance estimator, for large problems he suggests that you use a subset of the wavelengths in order to speed up the estimation process.

When this is implemented in some of the examples (specifically the Examples/Paper/ any of the replication studies) the way that subset_lambdas is calculated using the parameter A_set does not seem to do anything. No matter wha

[2018-04-17 15:15] mchlshort opened #18 "Confidence intervals working in full examples"
At this stage we only have confidence intervals working on a couple examples and it would be good if we could get them working for the large examples under Examples/Paper where the paper problems are replicated. I tried to do this but encountered errors with both replacing the current solve statement with using 'ipopt_sens' and the covariance = True options, as well as using the current example an

[2018-04-17 16:31] dthierry commented on #14
Could you provide me with an example where subset_lambdas is not all available lambdas?

I have seen the `Varianceestimator.py` and on line 257 The objective is being changed according to the elements of `set_A`. Now this might be buggy, but I'll have to confirm it.

[2018-04-17 16:36] #9 closed, assigned to nobody

[2018-04-17 16:37] #11 closed, assigned to nobody

[2018-04-17 16:37] #6 closed, assigned to nobody

[2018-04-17 17:28] mchlshort commented on #14
I think that the problem is just the way that the set_A was defined in the examples themselves (labelled "A_set" in the replicate examples). I seem to have fixed it in the examples in which the set_A was actually used: all you have to do to make it work is to actually just change the final part of the line from "if i%7" to "if (i%7 == 0)". So a really simple fix... Seems to work fine now, but in a

[2018-04-17 19:01] mchlshort commented on #14
Ok, should be all fixed now.

[2018-04-17 19:01] #14 closed, assigned to nobody

[2018-04-20 17:38] mchlshort commented on #18
I managed to get a couple examples working. What needs to happen is that the "user-scaling" option needs to be switched off as the scaling is for ipopt, not for ipopt_sens. Including user-scaling seems to result in an error where the linear solvers fail. Perhaps using other linear solvers (hsl) might fix this?

The second thing that seemed to fix the smaller problems was when the barrier variable

[2018-04-20 18:55] schenkch commented on #18
@mchlshort: With which example do you get this error? It looks like maybe an index shift is missing.

[2018-04-20 18:59] mchlshort commented on #18
@schenkch This is example Paper/replicate_example52a when I try and add confidence intervals

[2018-04-20 20:54] dthierry commented on #18
@mchlshort So this happens hen you add the confidence intervals but not otherwise?
Could you provide your .py file?

[2018-04-20 20:55] schenkch commented on #18
I set it up as well and get the same error. The problem is the predefined size of the B_matrix in the ParameterEstimator. Something is wrong with the calculation of ntheta but I haven't found out exactly what. The result for the index r_idx2 is larger than what is reserved as storage for the B_matrix.

[2018-04-20 21:09] schenkch commented on #18
from kipet.model.TemplateBuilder import *
from kipet.sim.PyomoSimulator import *
from kipet.opt.ParameterEstimator import *
import matplotlib.pyplot as plt

from kipet.utils.data_tools import *
import inspect
import sys
import os

if __name__ == "__main__":

    with_plots = True
    if len(sys.argv)==2:
        if int(sys.argv[1]):
            with_plots = False

    # Load spectral data
    ####

[2018-04-21 00:59] dthierry commented on #18
@mchlshort Do you have any idea of what ntheta should be?
It is reported that ntheta is 1894. But the index will go all the way up to 2585 which is not possible.

[2018-04-21 23:09] dthierry commented on #18
After a couple hours of frustration I realized that the solution was in the code all the time. But it was commented out for some strange reason.
I checked the paper and the current way of indexing should work. As for the reason *why* this wasn't implemented, I cant say for sure. I suspect something is gonna break. So I just created a new branch called `fix_matrix_index_david` with the patch and th

[2018-04-23 19:44] mchlshort commented on #8
Here is a first draft of the documentation. If there are any glaring omissions please let me know. Edits/comments are welcome. The highlighted sections are just things that might still need a bit of work or comments.

[Kipet documentation version 0.7329.docx](https://github.com/dthierry/kipet/files/1939724/Kipet.documentation.version.0.7329.docx)

[2018-04-23 19:51] mchlshort commented on #18
Just to keep everyone in the loop, there seems to be some serious issues with the confidence intervals as using either method on examples 51c and 51d result in impossibly large confidence intervals.

[2018-04-23 20:59] dthierry commented on #18
I think the fix is just rewriting parts of the B matrix. The original master version works around that but the size does not match then.

[2018-04-24 16:19] dthierry commented on #18
@mchlshort Could you share your results for the confidence intervals of the fix vs master?

[2018-04-24 16:30] mchlshort commented on #18
Sure, it ain't pretty though

[Confidence intervals.docx](https://github.com/dthierry/kipet/files/1943728/Confidence.intervals.docx)

Just to clarify, these are results for the examples/paper replicate studies a,b,c. With d_vars is just when I add in the with_d_vars option in the solver.

[2018-04-24 16:54] dthierry commented on #18
I guess I should read the user's guide. I don't know all the options.
I tried something new on the new branch `fix2dav_off`, I think some of my trials look better. But I don't know if they are *much* better.

[2018-04-24 20:23] #13 closed, assigned to nobody

[2018-04-25 14:58] mchlshort commented on #18
@dthierry , you, sir, can take a bow. Your fix works great. I just finished running it on a bunch of problems and it seems to work really well! I think you can close this issue and merge into the main branch.

[2018-04-25 15:00] dthierry commented on #18
I am glad to hear that.

[2018-04-25 15:00] #18 closed, assigned to nobody

[2018-04-25 21:49] schenkch commented on #10
@mchlshort: Do you have the sipopt folders for the examples that were still missing earlier?
I modified the unittesting script and I would like to test whether it works for all examples including subfolders.

[2018-04-26 13:23] mchlshort commented on #10
Hi @schenkch, I was actually just testing each example out with various inits and options in the solve function to see how robust the examples are. Problem is that some solve to sub-optimal solutions, so will not pass the assert. Also I was not really saving them as I was running them. I plan to, over the next day or 2, go through the examples and source code and add some more comments to help new

[2018-04-26 15:24] schenkch commented on #10
@mchlshort Thanks. If you have to look at each file again anyway, maybe you can make sure that with the uploaded examples the following parts are included for not showing plots when running unittests:

    with_plots = True
    if len(sys.argv)==2:
        if int(sys.argv[1]):
            with_plots = False

after
    if __name__ == "__main__":

and as for this example put the plot commands in an

[2018-04-29 04:44] dthierry opened #26 "non absorbing species"
A potential solution has been implemented in the branch `non_absorbing` the [file](https://github.com/dthierry/kipet/blob/non_absorbing/kipet/examples/Paper/replicate_example51a_non_absorbing.py) contains an example case study (lines 60 and 61).

The workflow is as follows:
create *list* of strings of non-absorbing species. Pass it to the method `set_non_absorbing_species` referencing the model an

[2018-04-29 20:31] mchlshort commented on #8
Just wanted to ask you guys if you have sIpopt working on Windows? If you do, how do you do it? I tried this afternoon to get it working on 2 separate machines and failed both times using Cygwin and following the steps suggested. My feeling is that the installation instructions up on COIN-OR were written for an older version of Cygwin and some of the dependencies that are required to compile Ipopt

[2018-04-29 20:59] mchlshort commented on #26
Hi @dthierry ,

Running the problem and removing the assertion gives me this:

EXIT: Optimal Solution Found.
The estimated parameters are:
k2 1.0
k1 0.22813095281968615

![image](https://user-images.githubusercontent.com/36671927/39410951-5721c702-4bce-11e8-8749-b29973672cfe.png)

![image](https://user-images.githubusercontent.com/36671927/39410948-4b9b173a-4bce-11e8-996e-27eac77804b0.png)

Isn't

[2018-04-29 21:04] dthierry commented on #26
Oh no. I will get back to you on this soon.

[2018-04-29 22:30] dthierry commented on #8
I will try the installation of sipopt later on today. I will let you know what I find.

[2018-04-30 01:46] dthierry commented on #8
[Ipopt_sIpopt_Installation_on_Windows_cygwin.pdf](https://github.com/dthierry/kipet/files/1959417/Ipopt_sIpopt_Installation_on_Windows_cygwin.pdf)
@mchlshort I blatantly stole this guide from the IDAES group. I haven't tried myself but as far as I remember the tricky part is get the patches for `make` in cygwin.

[2018-04-30 04:11] schenkch commented on #8
I read over the kipet documentation uploaded by Michael and just added a few comments, modifications and some additional information. You can find them highlighted in green in the following document:
[Kipet.documentation.changesChris.docx](https://github.com/dthierry/kipet/files/1959550/Kipet.documentation.changesChris.docx)

[2018-04-30 04:15] schenkch commented on #26
It would be good to add an example for that as well. I will see how far I can get with putting one of my case studies as an example in there.

[2018-04-30 04:41] dthierry commented on #26
I have committed the fix for the non-absorbing species. This [file](https://github.com/dthierry/kipet/blob/non_absorbing/kipet/examples/Paper/replicate_example51a_non_absorbing.py) (at the `non_absorbing` branch), provides an example on how it works (line 61-67, this example will run for a sweet long time so beware). Now the result should have a horizontal line at zero for the absorbance of `c`, a

[2018-04-30 15:36] mchlshort commented on #8
Thanks a lot @schenkch . I fixed the typos and included your corrections. Will work on adding in the final functionalities once everything is finalized and upload a more complete looking document soon.

[2018-04-30 17:24] mchlshort commented on #8
Hi @dthierry, Thanks so much, I got it up and running now. It is pretty annoying that the instructions on the COIN-OR website are out of date. Any link for these instructions that I can put in the manual? Or should I re-write them in?

[2018-04-30 19:33] mchlshort commented on #26
Hi @dthierry so I ran your fix on a couple problems and it seems to be doing ok. I generated some data for a problem where the product 'C' in A -> B -> C does not absorb and it seems to solve quite nicely. So well done!

Just a little problem I seem to have noticed with the error messages. When something is wrong with the model, even when the problem appears to have nothing to do with whether you

[2018-04-30 19:35] mchlshort commented on #26
Also, just a heads up that the reason the problem took so long to solve seems to be that the setting up of the VarianceEstimator took a really long time. You can speed this up by decreasing the size of the A_set and it still solves to a decent solution

[2018-04-30 19:50] dthierry commented on #26
Could you attach the full traceback?

[2018-04-30 19:54] mchlshort commented on #26
`Traceback (most recent call last):

  File "<ipython-input-39-080c012eecf4>", line 1, in <module>
    runfile('/home/shortm/anaconda2/lib/python2.7/site-packages/kipet-0.0.0-py2.7.egg/kipet/examples/Paper/noise_studies/sdae_sim_non_abs.py', wdir='/home/shortm/anaconda2/lib/python2.7/site-packages/kipet-0.0.0-py2.7.egg/kipet/examples/Paper/noise_studies')

  File "/home/shortm/anaconda2/lib/python

[2018-04-30 19:54] dthierry commented on #8
I think that the guide is not public yet. So maybe just put it in, and an acknowledgement to `IDAES - Ipopt $ sIpopt installation V01`  by AKULA PAUL.

[2018-04-30 20:00] dthierry commented on #26
Ah I see , thank you for noting that. I have fixed it in the non_abs branch.

[2018-05-01 17:01] mchlshort commented on #26
Hi @dthierry , think I found another small issue with the new code. When you include the with_d_vars option it throws the following error:

`ERROR: Rule failed when generating expression for constraint D_bar_constraint
    with index (0.025, 1.0): AttributeError: 'ConcreteModel' object has no
    attribute '_sublist_components'
ERROR: Constructing component 'D_bar_constraint' from data=None failed

[2018-05-01 17:29] dthierry commented on #26
Ah, a silly one. I have the fix, I am just gonna do the unit tests again.

[2018-05-01 17:53] schenkch commented on #8
We should probably include a short description and refer to the examples for the element by element implementation and the known non absorbing species implementation. @mchlshort: Have you already done that? Otherwise I can take care of that as well if you send me the most recent version of the documentation.

[2018-05-01 18:02] mchlshort commented on #8
Hi @schenkch, I agree and have been thinking about it but I haven't gotten to it yet. If you could do that it would be great. I am busy commenting and adding examples (the table just before section 5).

Here is the latest version:
[Kipet documentation version 0.91.docx](https://github.com/dthierry/kipet/files/1964714/Kipet.documentation.version.0.91.docx)

[2018-05-01 18:06] mchlshort commented on #8
And just a heads up that I will add a new folder that has fewer examples and fewer repeats of examples for the user where the filenames are a bit less confusing and repetitive. I am also not sure how the fe_factory can be used to initialize the ParameterEstimator as we do not have an example for that. If you know how to implement that, can you try and include an example of it?

[2018-05-01 18:48] dthierry commented on #26
I think this should be fixed by now on the same branch. One thing is that all of my `scaled` estimation cases appear to be failing on the tests (I think they work in reality). `michaels` estimation is failing as well for some reason.

[2018-05-01 19:20] schenkch commented on #26
That is strange. I have a look at this and test it with the updated test script included in the chris_unittest branch as well.

[2018-05-01 21:23] schenkch commented on #26
@dthierry : Did you run the tests for the same branch? I have the feeling the examples included in here are not the updated ones that work. I ran a few manually and with the tests so far and they fail for both.

[2018-05-01 21:39] dthierry commented on #26
@schenkch I think you are right. `non_absorbing` is using old tests. I will update them from your branch shortly.

[2018-05-01 21:47] schenkch commented on #26
@dthierry But I think also old examples that were not fixed yet. @mchlshort  You fixed some of them but I don't remember in which branch they are.

[2018-05-01 21:48] mchlshort commented on #26
Think the ones I fixed are in the master branch

[2018-05-01 22:20] schenkch commented on #8
@mchlshort: Attached you find a version of the documentation where I added two short tutorials under 4.5 and 4.6. mostly highlighted in green again (just before section 5).
[Kipet.documentation.version.0.91_chris.docx](https://github.com/dthierry/kipet/files/1965351/Kipet.documentation.version.0.91_chris.docx)

[2018-05-02 15:41] schenkch commented on #10
I found one bug in the test script and updated it in the master branch, the ones not running now are the following with the following reasons:

| Case        | file           | Reason  | run manually |
| ------------- |:-------------:| -----:|----------:|
| case51d | 7/7 files fail | see above (We are gonna take that case out?!) | fail manually as well |
| case52a | buggy.py  | assertion error lin

[2018-05-02 20:45] schenkch commented on #10
For the unittesting you should always set absolute paths to your files. Moving the trimmed.csv file to the data_sets folder and using the same absolute path description as in all the other files fixed the problem for the three files in the michaels folder.

[2018-05-02 20:52] dthierry commented on #10
@schenkch should we change this to take relative paths? Or what do you think is the best design regarding where to put your data (fixed absolute, fixed relative, or something else)?

[2018-05-02 20:56] schenkch commented on #10
The best way is to just use absolute paths because then it works for the unittesting and the manual testing but that is what is already used in most of the examples apart from the few examples above in the michaels folder. I will upload the fixed files soon.

[2018-05-02 21:00] mchlshort commented on #10
Thanks @schenkch , when you do that, can you please keep them in a different folder to /examples? Something like /tests.

I would like the fully commented and non-repeated examples in a separate folder for the users

[2018-05-02 21:01] mchlshort commented on #10
I have the folder that I would like to add on my pc and will upload it when I finish the documentation and commenting

[2018-05-07 15:57] mchlshort commented on #26
I know I am a bit late on this one, but are you guys getting any errors running problems with the with_d_vars option on? I get the following:

ERROR: Rule failed when generating expression for constraint D_bar_constraint
    with index (0.9, 1.0): AttributeError: 'ConcreteModel' object has no
    attribute '_sublist_components'
ERROR: Constructing component 'D_bar_constraint' from data=None failed

[2018-05-07 16:24] dthierry commented on #26
Hi @mchlshort , I think that was the same issue as the previous fix?. Did you update your local repository?
Also, I will turn of the `whatevs` file generation right away.

[2018-05-08 19:30] #26 closed, assigned to nobody

[2018-05-08 21:23] dthierry opened #34 "python 3 Casadi and scaled_estimation fix."
These problems happen whenever we try to use python 3.

[2018-05-09 14:23] mchlshort commented on #34
There still seems to be whatevs.nl generating as well.

[2018-05-09 14:32] dthierry commented on #34
Ah, the elusive `whatevs.nl`. I will try to kill it once for all.

[2018-05-09 14:33] dthierry commented on #34
BTW, I created a new branch with a *fix* although I am not sure about it yet. I need to think about it more thoroughly.

[2018-05-10 19:23] mchlshort commented on #10
Hi guys, so I have spent the last few days running the tests on Py 3.6 and noticed that the results differ quite a lot if you run the tests on Py 2 or 3. In response I have uploaded 3 different tests, 1 with a way smaller and more targeted list of tests, `tut_examples_tests.py`, in addition to `test_examples.py` which is the original, and `test_examples1.py` which is the original, minus the exampl

[2018-05-10 19:26] mchlshort commented on #8
Documentation is all but finished. The branch `user-friendly` includes the new documentation and the previous documentation is deleted as the new one includes all the useful parts of that documentation. It is not yet a pdf as it still needs the link to the final hosting site as well as the licence.

[2018-05-10 19:45] schenkch commented on #10
@mchlshort Which ones did you find to fail with the tests but not manually?
In the table I added above the only one which I didn't fix running the tests was buggy.py in case52a. The other ones I found failing manually and with the tests.

[2018-05-10 19:48] mchlshort commented on #10
Hi @schenkch I was actually referring to the new 'tut_test_examples.py' that I uploaded... Also, I noticed a lot of the tests failing when I ran it in Python 3.6, and not as many in Python 2.7 . Did you try with both?

[2018-05-10 19:58] schenkch commented on #10
Thanks @mchlshort. Ok, I will check that out. No, I just ran them with Python 2.7.

[2018-05-11 16:57] schenkch commented on #10
I tested all the tutorial examples manually and with the test script in python 2 and 3. For both versions I get the same results. Ex4 and 5 are the only ones failing just with the testing but working manually which is due to declaring relative instead of absolute paths again. Some other examples are failing for both but due to minor issues.

[2018-05-11 17:20] mchlshort commented on #10
Ok, thanks a lot @schenkch. I fixed the Ex4 and 5 by adding absolute paths. Are we good to close the testing issues now for release of ver 1?

[2018-05-11 17:22] mchlshort commented on #34
Hi @dthierry was wondering if you managed to quash the 'whatevs.nl' in the fix? I haven't run it yet. Also, do you think we are good to go for the release of version 1.0?

[2018-05-11 17:31] schenkch commented on #10
Not yet. We should fix the other minor issues for the tutorial examples that do not work and I'm going to run the extended tests again to be sure but then I think we are ready to go.
I just fixed Ad_6. There was the with_plots missing.
These are the ones that still have to be fixed:
Ad2_scaledest: A_set not defined
Ad3_sdae_sim_nonabs: exp not defined, issue with exp in gaussian single peak in dat

[2018-05-11 17:39] dthierry commented on #34
Not yet, but I will by the end the day.

[2018-05-11 17:52] mchlshort commented on #10
oh, those are working for me. I can fix them now. I have them fixed on my version. Will update now

[2018-05-11 18:06] mchlshort commented on #10
Ok, those should be working now. Think I forgot to push them at some stage. All seem good to me now... Let me know how it goes.

[2018-05-11 19:02] dthierry commented on #34
Alright, I think it is done. I will merge to master now.

[2018-05-14 14:05] schenkch commented on #10
Hi @mchlshort, There are still some issues with the Paper/replicate_example51a and c but I think they worked earlier. 51c requires too much memory and 51a gives an assertion error for k1 which can be fixed by setting tol to a large value but that is questionable. For 51c I tried to use another linear solver but that failed as well. What do you think?

[2018-05-14 14:42] mchlshort commented on #10
Hi @schenkch, 51a is fixed by removing the comments on the solver options. I will work on 51c and then let you know what I find

[2018-05-14 14:52] mchlshort commented on #10
Hi @schenkch , I think I fixed 51c, but I am getting an old error that I think has been fixed in the latest master. I just changed the initial guess for the parameters to be what the paper has and it seems to run through the variance estimator (where I assume it was running out of memory before?) Can you please check them again?

[2018-05-14 20:29] schenkch commented on #8
I read over the documentation again an uploaded the modified version as Kipet documentation version 0.99b.odt in the back_to_fixes branch.

[2018-05-14 20:42] mchlshort commented on #8
Ok, great, I have now updated that Ex_6_non_abs with one that works (i.e. it no longer has a flat conc. profile for C) and I have also added that into the documentation. Docs are now good to go apart from the licence and hosting site

[2018-05-14 20:44] #34 closed, assigned to nobody

[2018-05-14 20:44] mchlshort commented on #34
Looks to be all sorted

[2018-05-14 22:06] schenkch commented on #10
I have tried many ways to fix 51c and it still does not work. Unless you guys have another idea, I would say that we take this example out. What do you think?

[2018-05-15 13:52] mchlshort commented on #10
Hi @schenkch , I think that 'Ad_6_sawall.py' in the examples folder is the exact same problem and it solves, so we can maybe just swap it into that folder and re-name it?

The difference is just that this one uses the variance estimator as well. But the confidence intervals are rather large...

[2018-05-15 14:39] schenkch commented on #10
Thanks @mchlshort. The differences are mainly the options for the parameter estimator. I set different options but the initial values from the paper and uploaded the new file. I will test everything with the whole back_to_fixes folder again but I think after that we are ready to go.

[2018-05-15 14:53] mchlshort commented on #10
ok great. Once you have done that, maybe it would be a good idea to clean up the test folder so that we only have the working test file there and then we can merge with the main branch and let Larry know we are ready to go.

[2018-05-15 17:47] schenkch commented on #10
Sounds good. What about the noise_studies folder in the Paper folder, can we take that out?

[2018-05-15 17:51] mchlshort commented on #10
I am pretty indifferent about that. It is included, in some form or other, in the examples folder so I don't think it is crucial. But, at the same time, it was an example in the original paper so it might be worthwhile just keeping it around in case. You can decide.

[2018-05-15 18:03] schenkch commented on #10
Really? Which one is it? But then I think we still have to work on it because the results do not look right to me.

[2018-05-15 18:28] mchlshort commented on #10
Ok, I think I see the problem. It actually only needs fewer finite elements because the data is generated for only 4 discrete locations. If you do that, I think the results look ok. I tried 4 and 20 and both looked decent. Just remember to update both the Variance estimator and the Parameter estimator.

[2018-05-15 18:32] mchlshort commented on #10
And yeah, in the example set I used this as a basis for another example, Ad3, but it is not the same application at all. My mistake

[2018-05-15 19:05] schenkch commented on #10
Ok, thanks. Running the rest of the tests but looks good so far. I created a new branch from the back_to_fixes branch called without_notneededfiles where I am tidying up.

[2018-05-15 19:35] dthierry opened #39 "merge to master"
Alright, which branch should I merge to master?

[2018-05-15 19:37] dthierry opened #40 "license"
Just for [reference](https://tldrlegal.com/license/gnu-general-public-license-v3-(gpl-3)).

[2018-05-15 19:43] schenkch commented on #39
The without_notneededfiles branch should be merged to master. After that we can clean up the master and still have everything in this branch.

[2018-05-15 19:51] mchlshort commented on #40
Thanks @dthierry , I will include a link to that in the e-mail. It looks like the kind of thing that Sal mentioned; or at least what was understood.

[2018-05-15 20:02] dthierry commented on #40
I hope it is, time to lawyer up.

[2018-05-15 20:09] #39 closed, assigned to schenkch, mchlshort

[2018-05-15 20:19] mchlshort commented on #10
We can delete the 'chris_unittest' and the 'without_notneededfiles" branches and close this issue, right?

[2018-05-15 20:24] schenkch commented on #10
I would keep the without_notneededfiles branch, such that we still have everything whenever we start deleting files but we can get rid of the chris_unittest one and the back_to_fixes one. I will close it whenever the last test is finished.

[2018-05-15 20:28] mchlshort commented on #10
ok, cool. I think the 'back_to_fixes' is important still since it contains the most files. and we can always find something if it gets deleted from the more streamlined versions. I guess we can just keep hold of them both.

[2018-05-15 20:52] #10 closed, assigned to nobody

[2018-05-16 19:33] mchlshort commented on #40
Ok, I guess GPL-3 it is, so we can close this issue

[2018-05-16 19:33] #40 closed, assigned to mchlshort

[2018-05-18 18:58] mchlshort commented on #8
Guess we are good to go on this. Any changes now will be very minor and dealt with quickly and easily

[2018-05-18 18:58] #8 closed, assigned to nobody

[2018-05-22 21:13] mchlshort opened #44 "import issue"
Just to keep track of things here. We would like to be able to just use

'import kipet'

rather than having to manually import the functions used in each example as it currently is

'from kipet.library.VarianceEstimator import * '

As far as I understood we need to change the '__all__' variable in the __init__.py in the library folder to include all the libraries to be included. I think that I hav

[2018-05-23 19:50] dthierry opened #45 "Test fe_factory on the aspirin problem."
As Sal noted, this problem seems to a good case study for verification.

[2018-05-24 20:19] mchlshort commented on #45
Hi @dthierry , that is a great idea.

 I have been trying to get it up and running, but been having issues with providing the fe_factory the right information. I have tried a variety of things, but I am not sure which equations or variables are missing as I can't seem to get the numbers of equations and variables to match. I am including the .py as a .txt as Github won't allow me to upload with th

[2018-05-24 20:29] dthierry opened #46 "Create the Mac OS Installation guide"
I will set up a mac VM and see what we can do about it. Mostly test sipopt, which I remember wasn't a problem.

[2018-05-24 20:32] mchlshort commented on #46
Thanks, can you do me a favour and look through the steps that I set out in the current documentation while you are at it? I tried to include a Mac OS installation guide, but I could not test it.

[2018-05-25 17:52] mchlshort commented on #45
Created a new branch for tinkering with fe_factory and the new example.

The problem (which is not working yet) is here:

https://github.com/salvadorgarciamunoz/kipet/blob/fe_example_branch/kipet/validation/test_problems/aspirin_sim_fe_factory_new_try.py

[2018-05-27 20:39] dthierry commented on #45
Ah I have the problem now; you need to do something like:
[code]
That should fix it.
The problem now it that it seems we need to declare bounds inside `fe_factory`.

[2018-06-06 01:23] dthierry commented on #45
So, I've tried to solve the problem with the new bounds and something weird happens. There are 470 points in the data (inputs) but if you declare the discretization with more/less finite elements `fe_factory` will usually fail.
My intuition tells me that if the number of data inputs and number of available points is not consistent this should fail, which is the case.
For example, declare 500 finit

[2018-06-06 20:28] mchlshort commented on #44
I have tried a lot of different things in the __init__ files and nothing seems to work. The problem is really annoying me as I have seemingly tried everything and can't find a way around it. I have also discovered that importing functions works very differently between Python 2 and Python 3. I am considering whether this is actually worth pursuing as it seems to be a lot more trouble than it's wor

[2018-06-08 20:51] dthierry opened #47 "initial conditions for a simulation change mysteriously"
After declaring the ics, and building the model; if a particular variable has initial condition of 0, it will set to 1.0 automatically for some reason.
This is particularly problematic for fe_factory.

[2018-06-08 20:59] mchlshort commented on #47
I think that might be in TemplateBuilder. All z values are initialized at 1.

[2018-06-09 01:38] dthierry commented on #47
Ah, I see. :| well that explains that.
I've found that it does not matter for the *full* problem, because there is a constraint basically fixing this initial condition to the correct value.
It should be fixed though. Is there a particular reason for the value of 1?

[2018-06-09 01:40] dthierry commented on #45
Also, I've found that the negative *f* values are generated somehow from a *sort-of* interpolation. This should be at least deactivated for a `fe_factory` problem.

[2018-06-09 02:07] mchlshort commented on #47
From what I can tell there is no particular reason. I would be reluctant to set it to 0 though as that can often lead to issues with solvers in my experience with large nlps... I am mostly familiar with conopt, though, so maybe ipopt is better suited to that? Also given that there is a non-negativity constraint on s, c and z, it might be a help to give a non-zero init in general for large-scale nl

[2018-07-02 23:19] schenkch opened #48 "Errors with fixing parameters and running sipopt"
There are some issues with fixing parameters and running parameter estimation with sipopt.
I tried to find the cause for that and it looks like Kipet still counts the fixed parameter as a variable for which sensitivities are tried to be calculated which of course causes a problem.
So we have to make sure that self.model.P in the ParameterEstimator file just includes the non-fixed ones.

[2018-07-03 13:55] mchlshort commented on #48
Where did you try and fix the parameters? When I fix parameters at the TemplateBuilder using this:

    builder.add_parameter('k1',bounds=(0.0,5.0))
    builder.add_parameter('k2', 0.2)

It solves for k1, giving confidence intervals, and does not give confidence intervals for k2. Granted, the value for k2 needs to be given quite precisely or else sIpopt fails. This will be an issue for estimabilit

[2018-07-03 14:35] schenkch commented on #48
That is what I did as well. I just tried it with a fresh clone and it still does not work. I tried it for the values you set it to as well but it still gives the same error. Did you run it with the kipet-master or another version?

[2018-07-03 14:41] mchlshort commented on #48
I am running with kipet-master. do you have the 'with_d_vars = True' option set? I realize that I might have added this in (i.e. not part of the master version of this example). My solver options are also:

    options['mu_init'] = 1e-6
    options['bound_push'] =1e-6

This is for Ex_2_estimation

[2018-07-03 14:46] schenkch commented on #48
Yes, I have the same options. That is strange.

[2018-07-03 17:41] schenkch commented on #48
It is not a version issue but the solution seems to be system dependent.

If I run it with ipopt first and then fix k2 to the estimated value. The solution for the other parameter basically has to be in the middle of its bounds and not too far off. Such that no bounds or relaxing the bounds makes it worse. This is due to the fact that the parameters are initialized with 1 in the TemplateBuilder. T

[2018-07-14 03:35] dthierry opened #49 "fe_factory_fix bug"
Hey @mchlshort I have tested both python 2 and 3 and it doesn't seem to be a problem. (Ex_5_sm_fe_by_fe.py).
Python 2
![figure_2py2](https://user-images.githubusercontent.com/16341267/42720451-fe2b43c8-86f4-11e8-8f74-58be2a90e026.png)
Python 3
![figure_2_expython3](https://user-images.githubusercontent.com/16341267/42720452-fe352a78-86f4-11e8-912c-9ff022362a79.png)
Python 2
![figure_1py2](https://

[2018-07-16 19:48] mchlshort commented on #49
Hi @dthierry, sorry for getting back to you late on this. Actually, I had the Michael's example working. The issue occurred on both of the aspirin sims. In the past I remember getting those profiles where the concentrations dropped below zero in an element, however they now seem to fail on the third element.

Can you please check those for me since mine are still failing? Additionally, while worki

[2018-07-16 19:50] mchlshort commented on #48
Hi @schenkch, would you like to re-try this with the new TemplateBuilder in the fe_factory_interface branch? Just interested to see the results on that.

[2018-07-16 19:55] mchlshort commented on #47
Hopefully the new TemplateBuilder in fe_factory_interface manages to fix this.

If not, I think it may be a problem in the PyomoSimulator module. In the PyomoSimulator module the initializations of Z are re-written when the discretization is set. Since discretization happens only after the PyomoSimulator is called, these initializations are then the ones taken.

Not sure if this was the exact prob

[2018-07-16 19:56] #44 closed, assigned to nobody

[2018-07-16 19:57] mchlshort commented on #44
Closing this issue as I am now convinced that we will not be able to get this to work. I have tried a number of strategies and I think that in the end, what we have is fine. The documentation will just need to be updated to reflect this.

[2018-07-16 20:54] dthierry commented on #49
Ah, I see. I think we weren't able to solve the Aspirin problem to begin with. There were issues like what you just reported.

[2018-07-17 18:11] schenkch commented on #48
Hi @mchlshort, I just tried that but I still get the same issues. Or did you mean that I should try that in connection with an fe by fe initialization?

[2018-07-17 19:30] mchlshort commented on #48
Thanks for giving it a try @schenkch, I think I was hoping that the parameters would be initialized to a different value, but I think I found the issue. Basically, during the apply_discretization() the initializations that are set during the TemplateBuilder's create_pyomo_model() function are overwritten. I will try and implement a fix and will let you know.

[2018-07-18 11:37] dthierry commented on #49
The problem is that the inputs don't match exactly. There is something making interpolations for us automatically. Turning off that element should help for now.

[2018-07-18 21:41] mchlshort commented on #48
ok, I am now sure that it is not the initializations that are causing the issues. I did a very detailed check, line-by-line and the issue is definitely related to the calculation of the reduced hessian in sIpopt. At this stage I haven't figured out why, but the error seems to relate in some way to memory allocation and seems to be an issue mostly in C, not really Python.

[2018-07-18 23:36] dthierry commented on #48
A .nl file of this problem (that reproduces the failure running ipopt_sens nl.nl) might allow me to give you more insight on sipopt. As for kipet, the .py of the example and the name active branch might help me connect the dots.

[2018-07-19 14:12] mchlshort commented on #48
Hi @dthierry, ok, I have a very jumbled local branch where I have been messing around with it trying to fix the issue, but I think that the example I will attach has the issue on the master or other branches. Just to try and clarify a few things before you see the nl files. Obviously you can get this problem to work with the right bounds and fixed parameter. The issue does not occur during the ipo

[2018-07-19 21:09] mchlshort commented on #49
Hi @dthierry , I have been going over the PyomoSimulator class very closely today to try and figure out what the problem could be here. From what I can tell the problem is that, because the input data is not equally spaced, the interpolation is required in order to fix the input data in the correct places. Maybe just to give you the strategy that is being used here.

1. PyomoSimulator.apply_discre

[2018-07-19 22:01] dthierry commented on #48
Hi Mike,
I tried both files that you send me, and they do not have any issues. Also I tried the nl file and it seems to be from a different run.
Judging from the output, I think is a bug related to the problem that you are trying to compute the RH on. It is probably not well defined. It is my understanding that you wouldn't attempt to compute the RH on a variable that is fixed; bc that is not defi

[2018-07-19 22:39] schenkch commented on #49
I also run into issues solving my problem without jumps increasing the number of finite elements which seems really strange to me. I can solve it for up to 30 finite elements but if I choose a higher number, the solution already fails in the zeroth element. It converges to a point of local infeasibility. I am not sure whether this is a pyomo problem or finite element factory problem though.

[2018-07-20 14:24] mchlshort commented on #48
Hi @dthierry I checked the files again and I do still get the errors. I am using the fix_fe_factory branch now and I still get the errors. The nl files, you are right, are not correct and this is because I couldn't figure out how to get them for the file with the error. try: solve except ApplicationError: and RuntimeError both seem to not work as they are not defined, so not sure how to get them t

[2018-07-20 18:03] mchlshort commented on #49
I am starting to think that it is a fe_factory issue. I have been carefully checking that all the parameters and variables are correctly initialized at each point in the pyomo model and it looks regular to me. When I input a low number of finite elements the model can solve, only if the PyomoSimulator solve is restricted to a single iteration, which makes me think that when it patches to the model

[2018-07-21 07:44] dthierry commented on #49
We are still talking about the aspirin problem right?

[2018-07-23 09:59] schenkch commented on #49
Yes but it seems so be the same problem for the aspirin problem and my problem.

[2018-07-27 19:32] #47 closed, assigned to nobody

[2018-07-27 19:34] mchlshort commented on #47
This should be good now, with the latest merge of fe_factory_interface including the updated TemplateBuilder initializations for Z and the new estimation_with_C branch updating the inits for P

[2018-07-27 19:44] mchlshort commented on #49
Small update here:

Been testing with large numbers of elements and fe_factory will fail on the first element, even on the Michael's simulation, when you input a large number of elements(somewhere between 300 and 400). The same is true for the aspirin example. Something causes the first element to fail. I am not sure whether this is something to do with a derivative approaching a very large number

[2018-07-27 19:50] dthierry commented on #49
That is odd. I will check it out. Is this the `fix_fe_fact` branch?

[2018-07-27 20:15] mchlshort commented on #48
Finally I have managed to get the correct nl files. Interestingly enough, when trying to implement confidence intervals for the C-only estimation I managed to get the same error, even though neither of the parameters were fixed. So the cause of the error is even more mysterious to me now.

Attached is the nl file and the example code that generates it.

[finally correct nl.zip](https://github.com/

[2018-08-01 15:51] dthierry commented on #49
Hey Mike, I couldn't find a problem with the Ex_5; even with 2000 FEs the problem seems to be fine. Also, the jump seems to be consistent with the results.

[2018-08-03 20:25] dthierry commented on #48
Hey Mike, good news; I've discover why the infamous double call to ipopt "fix" works. It is actually not fixing anything, it just so happens that the first call deletes the suffixes for the red_hess. Then, the second call (now with `ipopt_sens`) doesn't compute the red_hess because there are no suffixes, and then the confidence intervals are non-existent.
If I redefine the suffixes each time after

[2018-08-03 20:36] mchlshort commented on #48
Aaaah, that makes sense. Well done! Doesn't quite illuminate us on where the sIpopt issue is coming from though.

Just to let you know, I decreased the problem size and that does actually seem to help. The error disappears and solutions are generated. What we could potentially do then is to create an additional argument in the ParameterEstimation that can be used in a similar way to the A_set in V

[2018-08-06 23:56] dthierry commented on #48
I have tried the branch [fix_sipopt](https://github.com/salvadorgarciamunoz/kipet/tree/fix_sipopt) to solve the fixing parameters' issues with sIpopt.
Hopefully, this will be enough.

[2018-08-07 15:04] mchlshort commented on #48
Everything seems to be working well with these fixes. Well done for finding and dealing with the bug. Thanks a lot! @schenkch , if you can give it a try on one of your problems to confirm this your side then we should be good to merge and close this issue.

[2018-08-07 15:49] schenkch commented on #48
Well done, @dthierry ! I just tested it for a few cases that did not work before. Everything seems to be working well now. So, I think we should be good to merge and close the issue.

[2018-08-07 15:58] mchlshort commented on #48
Fantastic. It is done

[2018-08-07 15:58] #48 closed, assigned to nobody

[2018-08-30 20:08] schenkch opened #56 "Discrete jump feeding strategy"
I created a new branch called discrete_feeds where I included the code for feeds of a discrete jump in time. So far it only works for a single feed for one component though. There is a new example called Ex_5_sim_fe_by_fe_testjump.py where I included a jump. I also tested it for the other fe_factory examples. @mchlshort: Maybe you can test this again also varying the number of collocation points?

[2018-08-30 20:12] mchlshort commented on #56
Great, thanks. I will do that and let you know how it goes.

[2018-08-31 18:08] schenkch commented on #56
I think I got the multiple input version working as well but that still requires intense testing for other inputs and examples. The files are in the same branch but called differently with the mult ending. It would be great if you had a look at it as well @dthierry and @mchlshort .

[2018-10-02 19:08] mchlshort commented on #56
Hi Christina, just wanted to follow up on our previous chat, whenever you have time to add in the option to add feeding in of other algebraic states ('X') then I think that this branch is ready to be merged. I tested it and it looks pretty good from what I can tell.

[2018-10-02 19:16] schenkch commented on #56
Hi Mike, that already works. I tested it again and I included more exceptions and extensions as well. I just have to clean up the code and then I will upload a new version with a new example with also algebraic jumps to make clear how it works with the syntax.

[2018-10-02 19:18] mchlshort commented on #56
Ok great, thanks Christina :)

[2018-10-02 22:06] schenkch commented on #56
I created a new branch called multiple_inputs that includes the new files. Maybe you can test that as well @mchlshort . I also created an example with additional temperature inputs. Did the aspirin_fe-factory examples work at some point?

[2018-10-02 23:05] mchlshort commented on #56
Ok, great, I will test it and let you know how it goes. Alas, aspirin_fe_factory has never worked... Similar issue that we were discussing with Larry and that you were having.

[2018-10-08 13:12] #56 closed, assigned to nobody

[2018-10-08 14:04] mchlshort opened #58 "k_aug error on C-data problems"
k_aug seems to run into memory problems when running the concentration input problems. It works well for the regular spectroscopic problems. the example with the error is 'Ex_7_conc_input_conf_k_aug.py' in the 'k_aug_in' branch.

[2018-10-09 21:59] schenkch opened #59 "Estimation with fe_factory inputs model"
I created a new branch for the variance and parameter estimation with fe-factory called estim_with_fefactoryinputmodel. I still have an issue though. In the PyomoSimulatorChange I had to include an if clause for checking whether the D_index already exists because the model was already discretized before but in case of pure simulation (for example running Ex_5_sime_fe_by_fe.py) this gives an error

[2018-10-10 13:59] mchlshort commented on #59
Hi Christina, could you upload the PyomoSimulatorChange module? I think you may have forgotten to

[2018-10-10 14:27] schenkch commented on #59
Hi Mike! Yeah, sure. Sorry, I just uploaded it. If anything else is missing, just let me know.

[2018-10-10 19:58] mchlshort commented on #59
Hi Christina, I think that maybe you have not uploaded all the files. I had a look to see where D_index is first defined and I couldn't find it anywhere. Could you check please? Maybe I just missed it, but I went through every file in kipet/library and only found the if clause you mentioned above, but no sign of the initial declaration. I would assume it was in the TemplateBuilder as it is a part

[2018-10-10 20:05] schenkch commented on #59
That's the one I mean. This if-clause has to be implemented in another way. It is not explicitly implemented anywhere else. It is set with discretisation if the data is already added to the model before. Just uncomment it in the PyomoSimulatorChange and test the parameter estimation example and you will see.
I just had to add zero rows to D for the feeds and round the time index but that does not

[2018-10-11 15:16] mchlshort commented on #59
Hi @schenkch, I had a look at the problem and I think there is a pretty simple solution. Just delete the currently set D parameter (set by TemplateBuilder) totally and replace it with the new parameter. This seems to work well. The D_index is automatically generated by pyomo whenever you have more than one index on a var or param (if you have three indices a D_index_0 will also appear). Try replac

[2018-10-11 15:19] mchlshort commented on #59
Oh, and I suppose you should include an if-clause to also catch whether D has been created at all for the normal simulation case before trying to replace it.

[2018-10-11 15:45] schenkch commented on #59
Hi @mchlshort, Thanks. That seems to work. The parameter estimation problem works well although it takes quite a bit of computation time but I can not get the variance estimation to converge. I checked the new model with the inputs and this is created in the right way. If you have an idea regarding another useful option or something that would be great as well.

[2018-10-11 23:15] schenkch commented on #59
I still found some bugs with the inputs and after I fixed them, the parameter estimation now has similar issues as the variance estimation.

[2018-10-19 18:56] schenkch commented on #59
I created a new example with inputs. The variance and parameter estimation with fe-factory works now. The example is called Ex_2_estimationfefactoryTempV.py. I have only tested it for spectral data so far. @mchlshort : Can you please test this again and maybe create an example for concentration data as well?

[2018-11-05 16:20] mchlshort commented on #58
Hi @dthierry , was wondering if you managed to fix this yet? Is k_aug up to date on the master branch? If it is ready, I will update my version of k_aug and do some tests before we merge the k_aug_in branch.

[2018-11-05 19:39] mchlshort commented on #59
Hi @schenkch, everything seems to work well for the spectroscopic case, however the concentration case is going to require more thought. I have tried to get a concentration example working with inputs this morning, but to no avail.

The issue is basically that in order to get fe_factory to see the inputs we need to run the sim first with the inputs set. When we are calculating Z at this stage, wit

[2018-11-05 22:46] dthierry commented on #58
Hi Mike, Ex 7 was the only one right?

How does this look to you?
**k_aug:**
Parameter variances:  [2.47995798e-06 7.37134303e-08]

Confidence intervals:
k2 (1.02867157494,1.0318211514)
k1 (0.22641857464,0.226961578988)
The estimated parameters are:
k2 1.03024636317
k1 0.226690076814
**sipopt**
Parameter variances:  [2.50531581e-06 7.59866353e-08]

Confidence intervals:
k2 (1.02866354425,1.0318291

[2018-11-05 22:51] mchlshort commented on #58
It looks beautiful. Seems to be working nicely now. So that was just a k_aug fix, right? No additions in Kipet?

[2018-11-05 23:51] dthierry commented on #58
Alright Mike, I think you can try again with the master branch of k_aug. I didn't change anything from kipet.

[2018-11-08 14:57] mchlshort commented on #58
Hi @dthierry , I can confirm that it is working well now. Still working on getting it working on Windows, however that is a k_aug issue, so I will maybe move my comments over there. This issue can be closed now.

[2018-11-08 14:57] #58 closed, assigned to dthierry

[2018-11-09 19:04] mchlshort commented on #45
Just wanted to close this off as the new versions of fe_factory, in combination with a slight change to the Heaviside step function now has solved this problem. The results are not perfect, but neither was the original simulation model. I am closing this for now and uploading the new, working aspirin example.

[2018-11-09 19:04] #45 closed, assigned to nobody

[2018-11-13 00:03] mchlshort commented on #59
Christina's new branch is now merged and everything seems to be working really nicely. Will probably discover some bugs once new problems are attempted, but for now this issue is solved.

[2018-11-13 00:03] #59 closed, assigned to nobody

[2018-11-16 14:51] salvadorgarciamunoz commented on #46
Hi Guys, VERY MUCH looking forward to the MacOS Installation : )

[2018-11-16 19:00] salvadorgarciamunoz opened #67 "Consider multiple experiments with different dosing points"
Consider the case when you have multiple experiments are done, but each experiment has different dosing regimes.  The estimation problem is trying to estimate the same parameters, but the model differs slightly because the dosing regime is different.

[2018-11-16 19:02] salvadorgarciamunoz opened #68 "Please add other file formats to be read from"
Examples:
.SPC files (SPy might help)
.MAT files (SciPy has a module for this)
Individual files per time point or one file for the whole thing

[2018-11-16 19:02] salvadorgarciamunoz opened #69 "Consider the case where the S matrix might be a function of temperature"
Jeremy to provide data

[2018-11-16 19:04] salvadorgarciamunoz opened #70 "Consider the case of an absorbing specie that has no role in the kinetics"
Perhaps this is already doable, let's create an example where a solvent added is diluting but not necessarily contributing to the reactions.

[2018-11-16 19:05] salvadorgarciamunoz opened #71 "S in a mass basis"
Beer-Lambert applies in the mole basis, how might we estimate an "S prime" parameter as a weighted function of the molar "S" such that you have a mass-based version of Beer's

[2018-11-16 19:23] salvadorgarciamunoz opened #72 "Automate use of fe_factory when dosing regime is used."

[2018-11-16 20:25] salvadorgarciamunoz opened #73 "estimate the variances every time (this is really not an option in PE)"

[2018-11-19 14:58] salvadorgarciamunoz commented on #71
Thinking twice through this, this should be solved at the model level (enter molecular weights and densities and formulate the mass fraction)

[2018-11-19 14:58] #71 closed, assigned to nobody

[2018-11-19 20:02] mchlshort opened #74 "New installation (conda-forge)"
Add Kipet to conda-forge so that installation with Anaconda is simpler

[2018-11-20 19:54] mchlshort commented on #46
If k_aug can be set up to install on a Mac then this can easily achieved. As it stands, everything works on Mac, apart for sIpopt and k_aug, which are used for estimability and confidence intervals.

[2018-11-26 20:07] dthierry commented on #46
Hey @mchlshort  I managed to install sIpopt on mac OS.
k_aug is still on the works!
![screenshot 2018-11-26 15 03 58](https://user-images.githubusercontent.com/16341267/49039161-fdc40e80-f18c-11e8-8f75-9d009403f476.png)

[2018-11-26 20:22] mchlshort commented on #46
Great news! Well done, @dthierry !

[2018-11-27 19:24] mchlshort commented on #70
I am busy working on this. Already included is the ability to do this where the diluting species' absorbance profile is not known and is estimated along with the other reacting components. I will include an example in my next commit. What is not included and will now also be possible in the next addition is for a species (that takes part in the reaction or not) to be included with a known absorban

[2018-11-29 16:11] mchlshort commented on #73
Looking through this again and going through the examples and code, I think that changing the current format is not necessary and may actually make the procedure too opaque. Running the VarianceEstimator separately from the ParameterEstimator makes sense mostly because of the number of options required in each function. Combining them results in an unnecessarily complicated and long function with

[2018-11-29 16:11] #73 closed, assigned to nobody

[2018-11-29 19:49] schenkch commented on #73
I totally agree with you in that point. That was something I was already thinking as well.

[2018-12-06 22:10] schenkch opened #78 "Confidence levels"
Allow user to choose in between different confidence levels for the calculation of confidence regions for the estimated parameters

[2018-12-12 17:56] mchlshort commented on #70
Newest pull request features this new ability including the ability to both estimate the interfering species' absorbance or to fix the absorbance of species. Examples showing this:

"Ex_2_abs_known_non_react.py"

"Ex_2_abs_not_react.py"

[2018-12-13 15:36] #70 closed, assigned to mchlshort

[2019-01-25 17:00] mchlshort opened #84 "Known dependency issues"
**Description**

Here I will just sum up and comment on the current state of the dependency issues within KIPET and keep users updated with known problems and ways to resolve them. I will try and keep this updated.

*Python 2.x*
At the moment everything works perfectly for Python 2.x when installation instructions are followed. Only issues that may occur are for newer versions of packages, however

[2019-01-30 21:21] schenkch opened #86 "Bounds for variables"
Add option for user to include bounds for variables

[2019-02-04 17:29] mchlshort opened #87 "Different measurement types"
Addition of different types of measurements that can be used in conjunction with spectra to do simultaneous parameter estimation i.e. NIR spectra + UPLC.

[2019-04-15 21:06] schenkch opened #94 "k_aug issue with Windows10"
Some of the examples do not work with k_aug under Windows10, such as examples Ex_2_estimation_conf_k_aug.py and Ex_2_estimationfefactoryTempV.py.

[2019-04-19 23:44] dthierry commented on #94
I'll check. I hope it is not k_aug related.
Could you provide the output of the following commands:

uname -u
(at your venv) pip freeze.
Thanks.

[2019-04-20 18:42] schenkch commented on #94
Thanks @dthierry
This is the output from k_aug:
{'A': 1.0886992699221108e-10, 'device': 3.288879007726867e-06, 'C': 9.627812050056525e-11, 'B': 1.6456485374596862e-10}
        6.03 seconds required to write file
        6.16 seconds required for presolve
        9.87 seconds required for solver
        0.00 seconds required to read logfile
        0.59 seconds required to read solution file

[2019-04-20 20:41] dthierry commented on #94
Ah, thanks.
I think we have the same CYGWIN version. However the python packages are different ([my_packages.txt](https://github.com/salvadorgarciamunoz/kipet/files/3100581/my_packages.txt)).
I am able to solve Ex_2_estimation_conf_k_aug.py [success1.txt](https://github.com/salvadorgarciamunoz/kipet/files/3100572/success1.txt)

For the second file I get the following:

And I think the reason is th

[2019-04-20 20:51] schenkch commented on #94
Thanks, that is weird. Yes, on linux all the examples work and it is not a problem on Windows8 either.
Yes, that is what I thought as well but it is strange that that just happens on Windows10.

[2019-04-22 18:43] mchlshort commented on #86
New pull request has added in an option for this

[2019-04-22 18:43] #86 closed, assigned to nobody

[2019-07-06 00:53] dthierry commented on #94
Follow-up:
k_aug with ma57 is able to solve both problems in Windows 10
It also works on macOS.
Caveat: ma57 license is required.
![Screen Shot 2019-07-05 at 8 50 21 PM](https://user-images.githubusercontent.com/16341267/60749358-d5905f80-9f66-11e9-8e1d-4063238372d5.png)

[2019-07-16 01:18] dthierry opened #102 "MultExpEstimation Parameter multiplicity"
The vector of P has to be the same across experiments (if I understand correctly).

Therefore, should the line [eg: 120-Mult..Exp..Estimator.py]
[code]
Be done only for self.experiments[0]?
So the reduced hessian is constructed for C, S and P, but which P? P[exp1] or P[exp2]....
I mention this bc k_aug reports inconsistent number of dof_v. I think is because P[exp1] == P[exp2].

[2019-07-16 14:06] mchlshort commented on #102
Hi @dthierry, you are correct. If you reference the section where I did the same for sipopt, you will find the correct version where I do checks to determine the global versus local parameters. I am sure there are a number of errors in the k_aug setup as I did most of the testing and development for sipopt.

[2019-07-16 15:26] dthierry commented on #102
Ah, thanks @mchlshort I didn't realize there were global parameters.

[2019-07-16 15:26] #102 closed, assigned to nobody

[2019-07-31 06:10] dthierry opened #103 "fe_factory "reconstruct" missing odes"
``construct()`` at line ~105? seems to generate issues sometimes at the generation of the internal 1-finite element model. Sometimes the odes will be deleted.
``reconstruct()`` seems to work in this case; however I don't know why.

[2019-08-27 19:54] #103 closed, assigned to nobody

[2019-08-27 19:54] mchlshort commented on #103
everything seems to be working fine after @dthierry 's latest fixes

[2019-12-28 11:12] #94 closed, assigned to nobody

[2020-01-16 01:10] dthierry opened #114 "Create Windows 10 k_aug installation guide w/MA57 & coinIpopt libraries"
I'll be up soon.

[2020-03-11 21:10] dthierry opened #115 "Pyomo 5.6.8 breaks kipet"
It has been observed that pyomo 5.6.8 breaks kipet.
I believe a major update has taken place.
Kuan-Han should have it fixed.

[2020-03-12 23:23] dthierry opened #116 "Ipopt with Thirdparty-ASL (version "trunk", master branch) breaks kipet"
As noted by Helena, this creates the
`UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb0`
error.
It has been verified that version `release\1.4.1`  of ThirdParty-ASL works fine with Ipopt.

Users should make sure that their Ipopt distribution runs with `release\1.4.1` or older.
Also, dynamic loading seems to get in the way of having the right coinasl library.
Please, make sure that you prelo

[2020-03-13 13:22] mchlshort commented on #115
Hi @dthierry and @kuanhanl,

I think that I had this issue a couple months ago. It requires changing   _implicit_sets in Results_Loader with v.index_set().set_tuple

I am not sure if that is everything, but at least this was a problem for me!

[2020-03-13 13:34] kuanhanl commented on #115
Hi @mchlshort,

Yes, you are right. That's one of the bugs. There is also another one when running Ex_5_sim_fe_by_fe.py and I am trying to fix it.

[2020-03-13 19:56] dthierry commented on #115
Thanks guys :purple_heart:

[2020-03-21 16:32] kuanhanl commented on #115
Bugs were all fixed and tests passed.

[2020-03-21 16:38] dthierry commented on #115
Thanks @kuanhanl !

[2020-03-21 16:38] #115 closed, assigned to nobody

[2020-05-07 18:48] #87 closed, assigned to schenkch

[2020-06-02 23:16] schenkch opened #122 "Parameter estimation with k_aug and non_absorbing species fails"
Claire was trying to use k_aug for the parameter estimation with non_absorbing species and ran into some issues regarding the number of DOFs.
I reproduced it by running Ex_6_non_absorbing.py with k_aug instead of ipopt and get similar errors.
Somehow I thought that that was fixed with the new version of k_aug but I guess I was wrong and that just fixed the issue for the multiple experiments.
If we

[2020-06-25 23:08] notesofdabbler opened #126 "Getting error when running Ex1_ode_sim.py"
I get the following error when running Ex1_ode_sim.py
<img width="778" alt="Screen Shot 2020-06-25 at 7 03 43 PM" src="https://user-images.githubusercontent.com/7705554/85804081-b9a54100-b716-11ea-801e-7d42372a4f54.png">

The kipet version is the latest on github, I just installed it in my machine. The version of python, pyomo and info on my operating system
<img width="728" alt="Screen Shot 2020-

[2020-06-26 00:03] kwmcbride commented on #126
I would try to run this using pyomo 5.6.9 first and see if it works.

[2020-06-26 03:27] notesofdabbler commented on #126
Thanks. Installing pyomo 5.6.9 (along with downgrading pyUtilib to 5.8.0) worked. It looks like just downgrading to pyomo 5.6.9 doesn't work since it is incompatible with pyUtilib 6.0.0

[2020-06-26 15:12] schenkch commented on #126
I actually discovered the same thing with pyomo5.6.6 and pyUtilib6.0.0 yesterday. I think it would be a good idea to exclude these combinations in the setup.py and requirements.txt file until they provide a fix.

[2020-07-25 01:02] notesofdabbler opened #127 "Error when running Ex_7_concentration_input.py with just B and C data"
I was trying to run Ex_7_concentration_input.py using the dataset data_sets/Ex_1_C_data_withoutA.csv. But I get the following error
<img width="939" alt="Screen Shot 2020-07-24 at 9 00 09 PM" src="https://user-images.githubusercontent.com/7705554/88445463-c473f400-cdf0-11ea-815a-d5385b4c8d28.png">
The full jupyter notebook is in this [location](https://github.com/notesofdabbler/learn_kipet/blob/ma

[2020-07-25 01:08] notesofdabbler opened #128 "Ability to fit with concentration data where all species are not available at all times"
When I worked through Ex_7_concentration_input.py, it looks like at every time point where data is collected, we need to have the concentration of all the species. Is it possible to use data where not all species data are collected at all the points. This occurs frequently since we might be measure some species using an automated instrument and collect data more frequently vs another species that

[2020-07-25 02:08] kwmcbride commented on #128
Hello and thanks for pointing this out. This ability exists in Kipet at the moment, but unfortunately it is not in the ParameterEstimator module at this time. The current version of run_opt in ParameterEstimator does not account for missing component data (declared species without any data). I'll show you how to get this working by replacing a couple of lines in the code. I will submit this as a c

[2020-07-25 15:23] notesofdabbler commented on #128
Thanks for the suggested fix. I tried changing the ParameterEstimator.py per your suggestion and tried to reload the module in the code. But it seems to still be using the older version of ParameterEstimation.py. This is not related to Kipet but if you spot what I am doing wrong in reloading the module in this [notebook](https://github.com/notesofdabbler/learn_kipet/blob/master/kipet_examples/Ex7_

[2020-07-25 15:26] notesofdabbler commented on #127
The fix has already been suggested in #128

[2020-07-25 15:26] #127 closed, assigned to nobody

[2020-07-25 15:27] notesofdabbler commented on #126
Using the appropriate versions of pyomo and pyUtilib as discussed in the thread above fixes the issue.

[2020-07-25 15:27] #126 closed, assigned to nobody

[2020-07-25 15:44] kwmcbride commented on #128
You need to change the module shown here if you want this to work (not in the local directory, unless you change your PYTHONPATH)
[code]

Also, I changed the code slightly again, but it won't affect your example.

[2020-07-25 16:29] notesofdabbler commented on #128
Sorry, my mistake. I just realized that I had modified the code in the kipet install that was outside of the conda environment kipetenv. Once I made the modification in the code that is within kipetenv, then it worked without error (I didn't have to use reload or specify PYTHONPATH).

[2020-07-25 19:55] notesofdabbler commented on #128
I ran into an issue with the scenario which is a variation of the same example where A, B, C concentration are measured but at different frequencies. The dataset is in this [location](https://github.com/notesofdabbler/learn_kipet/blob/master/data_sets/Ex_1_C_data_irreg.txt) and the plot of data is below:
<img width="419" alt="Screen Shot 2020-07-25 at 3 44 29 PM" src="https://user-images.githubuse

[2020-07-25 21:20] kwmcbride commented on #128
I will look into this now. In the EstimationPotential module this problem does not exist.

[2020-07-25 22:45] kwmcbride commented on #128
Okay, this was a little more involved than I thought, but I changed quite a few things in various modules to get this working. The issue was when you have multiple components _of the same type_ (such as several components or several complementary states) with different sample times. This has now been taken care of in TemplateBuilder, ResultsObject, and data_tools. There is now no need to handle na

[2020-08-03 01:27] notesofdabbler commented on #128
Thanks for the latest update. I was working through the new example Ex7_concentration_heterogenous_data.py and it worked great.

[2020-08-03 01:27] #128 closed, assigned to nobody

[2020-08-03 21:47] dthierry opened #131 "Pyomo 5.7"
**The bug**
It seems that the way the Sets work has changed. This breaks core functionalities of kipet.

**To Reproduce**
Run any example

[2020-08-03 23:57] notesofdabbler opened #132 "Parameter confidence intervals in Ex_7_conc_input_conf_k_aug.py seem too wide"
When I run the example [Ex_7_conc_input_conf_k_aug.py](https://github.com/salvadorgarciamunoz/kipet/blob/master/kipet/examples/Ex_7_conc_input_conf_k_aug.py), I get the confidence intervals for k1 and k2 as:
[code]
This doesn't seem right. I wanted to check if I am doing something wrong. The jupyter notebook where I ran this example is in this [location](https://github.com/notesofdabbler/learn_kip

[2020-08-04 00:08] kwmcbride commented on #132
It would seem that I broke something in the variance calculations. I am looking into where and should find it pretty soon.

[2020-08-04 00:10] kwmcbride commented on #132
At the moment, EstimationPotential only uses PyNumero. At some point in the near future I will be writing it to use k_aug since we have more control over its development.

[2020-08-04 01:03] kwmcbride commented on #132
I found the issue and have submitted a pull request to incorporate the fix.

[2020-08-04 22:16] notesofdabbler commented on #132
Thanks. I tried the example again and now it seems to be fine.
[code]
I had couple of more syntax questions:
1. Is it possible to get the covariance matrix of parameters
2. How do we get the objective value at the end of parameter fitting

[2020-08-05 00:45] kwmcbride commented on #132
That should not be much of an issue. I can simply add those to the ResultsObject so that they are generally available. I'll look into this tomorrow.

[2020-08-05 12:25] kwmcbride commented on #131
I'll look into this soon. Hopefully this is not a big problem to change.

[2020-08-07 10:20] notesofdabbler opened #134 "Handling heterogeneous data in MultipleExperimentsEstimator"
It seems like MultipleExperimentsEstimator is not able to handle heterogeneous data (subset of species measured or each species measured at different times. The issue looks similar to #128 for estimating single experiments (which is resolved now). It seems to occur at the step when after fitting individual experiments, it tries to fit all of them and gives an error at this line from MultipleParame

[2020-08-07 10:39] kwmcbride commented on #134
In my recent update I did not touch the MultipleExperimentsEstimator module (I assume you mean this one). My goal is to have a single module handle all of the objective functions such as this so that they are uniformly handled. I'm fairly sure this fails here due to the for loop over m.meas_times. Eventually, I will work on this module to update it as well. Afterwards, this shouldn't be an issue.

[2020-08-08 22:22] notesofdabbler commented on #134
For the time being, I tried the same fix as with the single experiment estimation and modified portion of code in MultipleExperimentsEstimator.py at line 2144 as follows:
[code]
That seems to work. I have an example of trying with this modification in this [notebook](https://github.com/notesofdabbler/learn_kipet/blob/master/kipet_examples/multexpt_fit_subset_data.ipynb).

[2020-08-09 02:20] kwmcbride commented on #134
That's basically the fix I am writing into it. Just iterate through the C index and not through the global measurement times index. I am moving the objectives to a separate module for this so that they are consistent across all other modules.

[2020-08-19 11:28] notesofdabbler opened #136 "Fixing input variables from trajectory"
I created a small fed batch example where a reagent is added over a period of time in this [notebook ](https://github.com/notesofdabbler/learn_kipet/blob/master/kipet_examples/ABC_fedbatch_sim.ipynb) drawing on using `input_subs` from [Ex_5_sim_fe_by_fe_multjumpsandinputs.py](https://github.com/salvadorgarciamunoz/kipet/blob/master/kipet/examples/Ex_5_sim_fe_by_fe_multjumpsandinputs.py). But when

[2020-08-20 09:02] kwmcbride commented on #134
This should be handled in the latest update to Kipet.

[2020-08-20 09:04] #134 closed, assigned to nobody

[2020-08-20 09:05] #132 closed, assigned to nobody

[2020-08-20 16:48] kwmcbride commented on #136
I have recreated your error and think that there is an error in the way the linear interpolation in the fix_from_trajectory method. I have replaced it with something similar that works. It uses the same strategy as before, in that a linear function between the times is assumed. I will be adding an option as well to allow for an immediate change, if desired. I will make this available as a branch (

[2020-08-21 12:53] notesofdabbler commented on #136
Thanks for looking into this. I don't need this immediately but just wanted to list it since I encountered it. I can directly specify it in the code for now.

[2020-08-21 12:56] kwmcbride commented on #136
Well, I already put in a fix for it. I don't like to wait too long to fix issues like this in cases where you simply expect it to work.

[2020-08-21 14:55] kwmcbride commented on #131
I looked at the problem and it seems that Pyomo 5.7 does not like it when you have variables with empty sets. In TemplateBuilder all variables are initialized regardless of whether they are actually needed in the model.  I managed to get an example working after ignoring these empty sets and will now implement a cleaner approach and see if it works for the other examples.

I think this is actually

[2020-09-06 11:27] notesofdabbler commented on #136
Thanks for fixing this

[2020-09-06 11:27] #136 closed, assigned to nobody

[2020-09-06 11:30] notesofdabbler opened #140 "read_file with directory seems to give an error"
The following way to read a file used to work previously but now gives an error.
[code]
But if I use the full path as below it works.
[code]
This error is reproduced in this [notebook](https://github.com/notesofdabbler/learn_kipet/blob/master/kipet_examples/test_read_file.ipynb).

[2020-09-06 11:34] notesofdabbler opened #141 "Parameter estimation for a fed-batch example not working"
I was trying a small fed batch example to fit a single reaction. I am not sure what I am doing wrong but the rate constant doesn't change from the initial estimate. The example is in this [notebook](https://github.com/notesofdabbler/learn_kipet/blob/master/kipet_examples/ABC_fedbatch_parmest.ipynb). I would appreciate any pointers on what I might be doing wrong.

[2020-09-07 05:57] kwmcbride commented on #141
The parameter you added does not have the init keyword. It should be this:

builder.add_parameter('k1', init=10, bounds = (0, 1000))

Your example works for me after this change.

[2020-09-07 06:01] kwmcbride commented on #140
That was a very brief change in the code and it has now been changed back to the original method for declaring the directory. This needed to be done because some of the tests no longer worked due to pointing towards the incorrect directory. It looks like this now:
[code]
This is another item on my list of things to change. I suspect it was set-up like this to make running the tests work alongside

[2020-09-07 14:46] notesofdabbler commented on #140
Thanks for the clarification

[2020-09-07 14:46] #140 closed, assigned to nobody

[2020-09-07 14:47] notesofdabbler commented on #141
Ah, sorry I forgot to put init. You had already mentioned it previously. Thanks for clarifying again.

[2020-09-07 14:47] #141 closed, assigned to nobody

[2020-09-09 01:01] notesofdabbler opened #142 "How to fit data on algebraic variables"
For a reaction example with components A, B, C, D, the data collected at different time points is y = B/(A + B). That is a csv file with columns for time, y. In the builder, I can specify y as an algebraic variable but wasn't sure how to make the builder use the objective of sum((y_predicted - y)**2) to fit the data.

[2020-09-11 06:17] kwmcbride commented on #142
I will have to look into this myself since I have not yet tried to solve such a problem. Do you have a basic example I can start with?

[2020-09-15 03:21] notesofdabbler commented on #142
I have created a variation of fitting A->B->C in this [notebook](https://github.com/notesofdabbler/learn_kipet/blob/master/kipet_examples/ABC_parmest_y.ipynb) where measurements are on A and B/B+C. I have created the model but am not sure how to add the objective corresponding to residual of B/B+C between measured and predicted values

[2020-09-15 05:38] kwmcbride commented on #142
Thanks for the notebook. I think the issue is going to be solved by letting the user use a custom objective when providing certain types of data, such as in your case.

[2020-10-20 07:54] kwmcbride commented on #131
I have fixed the Pyomo 5.7 issue.

However, there is still something strange when using blocks to perform the multiple experiments estimation. There is a model component 'alltime_domain' that appears (I don't know where this comes from at the moment), and I get an error saying that it cannot be cloned because it already exists in the block. I simply check for this component and delete it if presen

[2020-10-20 13:27] kwmcbride commented on #72
This looks dated, but this will work after pull request 144 is made.

[2020-10-20 14:26] kwmcbride commented on #84
I just wanted to comment here that support for Python 2 has been dropped.

[2020-10-21 10:57] schenkch commented on #131
@kwmcbride: alltime was introduced with using measurements coming from different measurement techniques and incorporates all of them in one set. However, previously this feature was not included for the multiple experiments case yet.

[2020-10-21 11:03] schenkch commented on #84
That makes sense. Then this should be mentioned in the Readme, dropped from the requirements.txt and the documentation should be changed accordingly, to make sure that nobody keeps trying to use it. With these changes, we can close this issue then.

[2020-10-21 11:56] kwmcbride commented on #142
I have your example working in Kipet now. I just need to work out how to make it user friendly. A fix for this type of problem will be soon available.

[2020-10-21 12:04] kwmcbride commented on #131
I mean the component 'alltime_domain'. I don't find it anywhere, but it shows up in the models anyway and the Block component doesn't like it because it can't clone it. I searched for it in the entire code and didn't find it, so I don't know where it is coming from or why it is there. It may be something Pyomo is doing in the background, but I wouldn't know why.

[2020-10-21 13:16] kwmcbride commented on #142
Here is the working code from the new version. This is how it will look once I make the changes to the new version, but it seems user friendly enough.

[code]
And the results (please ignore the labelling on the second image!):

![kipet_fix_1](https://user-images.githubusercontent.com/47767839/96724574-f9ef9580-137d-11eb-986c-1f7017d28750.png)
![kipet_fix_2](https://user-images.githubusercontent.co

[2020-10-22 02:14] notesofdabbler commented on #142
This is great and looks quite user friendly. Would this approach also work in the case where the time points where data for 'A' is available is not the same as the time points where data for 'y' is available (like the heterogeneous data example)

[2020-10-22 03:25] dthierry commented on #131
I think `alltime_domain` is generated automatically in Pyomo 5.7. This should be the case with sets similar to `alltime`.

[2020-10-22 07:44] kwmcbride commented on #142
I made a small change to the TemplateBuilder to make sure that this works. So, yes, you will be able to use data with mixed time points.

I would recommend that you use enough concentration points along with the ratios. If you only use ratios, you won't be able to solve it.

[2020-10-22 10:35] kwmcbride commented on #142
I changed it to where you only need to declare the algebraic rule and then state that you want to use an algebraic variable as an objective. It needs to match the custom data that you enter. It will match the data with the variable using least squares terms added to the objective function.
[code]
See the following complete example:

[code]

[2020-10-24 02:17] notesofdabbler commented on #142
thanks. Will this be part of the new pull request called "new data" that I saw in the repo?

[2020-10-26 06:29] kwmcbride commented on #142
At the moment this is not part of new_data. I have two further updates to KIPET after new_data, one containing fixes for Pyomo 5.7 and the update above is based on that version. Once new_data is approved (I have to finish the documentation), this change should be quickly accepted.

[2020-10-26 06:31] kwmcbride commented on #78
This is a simple fix that I have addressed in an update that I will make after the current pull request has been merged.

[2020-10-30 07:37] kwmcbride commented on #142
I have added this to the pull request "new_data".

[2020-10-30 07:39] kwmcbride commented on #131
I have added the updates for Pyomo 5.7 to the pull request "new_data".

The interesting thing is that I only get problems from alltime_domain. At the moment it does not seem to be necessary, but I don't like not knowing why.

[2020-11-08 04:55] notesofdabbler opened #145 "Issue when installing from new_data branch"
I tried directly cloning "new_data" branch from kwmcbride/kipet repo and ran python setup.py install. I had the following 2 issues:
1. I got the following error when I tried `from kipet import KipetModel`
<img width="647" alt="Screen Shot 2020-11-07 at 11 51 51 PM" src="https://user-images.githubusercontent.com/7705554/98457346-47c51580-2154-11eb-9f36-778ac4c311aa.png">
However, if I run it within

[2020-11-08 16:02] kwmcbride commented on #145
Thanks for testing the new branch. I am still waiting for the reviews to be done, but you have helped in finding some bugs.

1. The first bug looks like I forgot to put an \_\_init\_\_.py file into the core_methods directory. Could you please try this and see if you fix the error in your install?

2. The second error is simply me not updating the file from my pyomo 5.7 version. The _SetProduct cla

[2020-11-08 18:42] notesofdabbler commented on #145
I tried reinstalling with latest version of the new_data branch. It removed previous error but gave similar error about not finding post_model_build and top_level. When I copied the blank `__init__.py` to those two folders as you did above, then the install worked fine and the command `from kipet import KipetModel` worked from a different directory also

[2020-11-08 20:09] notesofdabbler commented on #145
I tried couple of examples after the install (and using pyomo 5.7.1). They are working for the most part. I am listing below a couple of issues I saw:
1. I am getting error when using the command `r1.results.plot()`. The following [notebook](https://github.com/notesofdabbler/learn_kipet/blob/master/kipet_examples/Ex1_ode_sim_wk.py.ipynb) has the error.

2. I am getting an error when using `r1.add_

[2020-11-09 08:36] kwmcbride commented on #145
Glad to hear that it was simply the issue with \_\_init\_\_.py files.

The new problem is most likely that the directory for charts is not set-up properly. If you add an empty folder "charts" to the kipet directory (same level as library and examples) this should work. I will add this to the current version.

I will look into the add_dataset method, as I am surprised that it does not work and that

[2020-11-09 09:03] kwmcbride commented on #145
I have updated the ResultsObject module to handle the missing directory for charts. This should work now.

[2020-11-12 16:20] kwmcbride commented on #145
I have recreated your error in a Jupyter notebook. The problem is simply that set_directory looks at which file calls the method. When using a Jupyter Notebook, it calls it from the library where the kernel is installed. Since the data is not stored there (it should be in your kipet directory), it will not find your data. This does work from your directory as you have found out. It was written to

[2020-11-20 16:11] kwmcbride commented on #145
I rewrote the entire way KIPET handles directories and committed the changes to the new_data branch. This adds a new file to the kipet directory "settings.txt" that contains some general settings used in KIPET. I will be expanding this file to handle more of the settings to clean up the differences between KipetModel and ReactionModel settings. For the moment, the most important parts are DATA_DIR

[2020-11-23 13:29] #145 closed, assigned to nobody

[2020-11-23 13:30] #142 closed, assigned to nobody

[2020-11-23 13:30] #131 closed, assigned to nobody

[2020-11-24 05:27] notesofdabbler opened #147 "Example 7 using k_aug doesn't seem to be working"
I was trying a variation of [Ex_7_concentration_input.py](https://github.com/salvadorgarciamunoz/kipet/blob/master/kipet/new_examples/Ex_7_concentration_input.py) using k_aug. The notebook is in this [location](https://github.com/notesofdabbler/learn_kipet/blob/master/kipet_examples/Ex7_concentration_input_kaug_wk.ipynb). The covariance matrix seems high.
[code]

[2020-11-24 09:44] kwmcbride commented on #147
When using concentration data, you need to provide the component variances yourself. This was inadvertently left out in the update. I will fix this example in the current pull request, but the problem is solved by changing the component addition portion to the following:
[code]

[2020-11-24 09:47] kwmcbride commented on #147
Since this has been fixed and added to the current pull request, I am closing this.

[2020-11-24 09:47] #147 closed, assigned to kwmcbride

[2020-11-28 01:14] notesofdabbler opened #148 "Issue with settings.txt after install"
I installed the current version of Kipet and when I run the command:
[code]
I get an error that the file `settings.txt` is not found. I was able to resolve it by manually downloading the `settings.txt` file from the repo to the folder where kipet is installed and setting data and charts directory. But if there is a way to avoid that, it would be helpful.

[2020-11-28 08:38] kwmcbride commented on #148
Could you please post the complete error output? I cannot recreate a missing settings.txt file error.

I did however find a bug upon closer inspection that was not handling absolute paths for the parent directory correctly. This would lead to an error in that the correct data folder could not be found. This change has been committed in the current pull request.

The current pull request changes th

[2020-11-30 04:47] notesofdabbler commented on #148
I cloned the current version of kipet and reinstalled it. I am still getting the settings.txt error. This [notebook](https://github.com/notesofdabbler/learn_kipet/blob/master/kipet_examples/Ex1_ode_sim_wk_test.ipynb) shows the error. This was the error that got resolved for me when I manually copied settings.txt file to kipet folder in the installed location

[2020-11-30 09:10] kwmcbride commented on #148
Thanks for the full error message. I see what is going on now and have submitted the fix in #150

[2020-11-30 09:45] #148 closed, assigned to kwmcbride

[2020-11-30 10:06] kwmcbride commented on #72
FE_factory now is used automatically when dosing points are added to the model.

[2020-11-30 10:06] #72 closed, assigned to schenkch

[2021-01-03 04:48] notesofdabbler opened #152 "Issue with parameter estimation involving dosing"
I was trying a fed batch reaction example. First, I tried simulating it and it worked fine ([notebook](https://github.com/notesofdabbler/learn_kipet/blob/master/kipet_examples/ABC_fedbatch_sim.ipynb)). In this example, B is dosed in over 15 min and is set as a trajectory `qin_B`. However, when I tried to do parameter fitting for the same example ([notebook](https://github.com/notesofdabbler/learn_

[2021-01-03 13:03] kwmcbride commented on #152
I have recreated your problem and think this is a bigger problem than it seems. I suspect that ParameterEstimator does not have any information regarding the fixed trajectories and therefore is overfitting the problem. I am looking into a fix for this now.

[2021-01-03 13:56] kwmcbride commented on #152
I have fixed the issue. It was as I suspected. I will make a pull request for this fix now. In the mean time, you can simply add the following to the end of the create_estimator method in ReactionModel:

[code]

[2021-01-03 14:58] notesofdabbler commented on #152
Happy New Year. Thanks for a very quick fix. I tried adding the line you suggested and it works. Also, I noticed that each time I import KipetModel, I get the following warning message.
[code]
It doesn't impact anything currently but wanted to bring it to your attention.

[2021-01-03 15:29] kwmcbride commented on #152
Happy New Year to you too. Which version of Pyomo are you using?

[2021-01-04 02:16] notesofdabbler commented on #152
I am using pyomo version 5.7.1. I have also listed below the screenshot.
<img width="632" alt="Screen Shot 2021-01-03 at 9 14 44 PM" src="https://user-images.githubusercontent.com/7705554/103495497-f4e0a500-4e08-11eb-82de-b35d4dae4f5f.png">

[2021-01-04 09:01] kwmcbride commented on #152
This is the expected behavior at the moment. In the fe_factory module it checks for _SetProduct or SetProduct depending on which version of pyomo is being used. So, there is nothing wrong, but it could be improved to avoid showing any message.

[2021-01-04 13:23] kwmcbride commented on #152
Fixed in #153

[2021-01-04 13:23] #152 closed, assigned to kwmcbride

[2021-01-17 00:12] notesofdabbler opened #155 "importing KipetModel gives an error"
I installed the latest version of kipet. I am getting the following error when I import KipetModel:
![image](https://user-images.githubusercontent.com/7705554/104827677-4ee06200-582e-11eb-8efd-166646c6673d.png)
This is the [notebook](https://github.com/notesofdabbler/learn_kipet/blob/master/kipet_paresto/jbr_hbv_parmest_logk.ipynb). This was also an example where there was difference in results us

[2021-01-17 12:24] kwmcbride commented on #155
That is a bug on my part. The clean module does not exist and was used for development. If you comment out that line in the kipet_model.py module, it should work as intended. I will fix this in a pull request.

[2021-01-17 12:44] kwmcbride commented on #155
This was addressed in #156

[2021-01-17 12:44] #155 closed, assigned to nobody

[2021-01-17 16:58] notesofdabbler opened #157 "How do we add bounds to algebraic variables?"
I saw an example where the list of algebraics are added as below
[code]
If we want to add bounds to the algebraic variables, how do we do it?

[2021-01-17 17:28] kwmcbride commented on #157
You can do this similar to a parameter. Look at Ex_17_custom_objective.py for an example:
[code]

[2021-01-18 00:55] #157 closed, assigned to nobody

[2021-01-18 03:55] notesofdabbler opened #158 "Example with difficulty in fitting parameters"
I was trying to reproduce an example from Rawlings [reactor design book](https://sites.engineering.ucsb.edu/~jbraw/chemreacfun/) in this [notebook](https://github.com/notesofdabbler/learn_kipet/blob/master/kipet_paresto/jbr_bvsm_c_red.ipynb) with Kipet - book author's octave code is [here](https://github.com/rawlings-group/paresto/blob/master/examples/green_book/bvsm_red.m). I was able to simulate

[2021-01-18 08:13] kwmcbride commented on #158
I have actually been working on a way to streamline such initialization strategies in KIPET using simulation results. There is a method to do this in KIPET at the moment, but I find it to be too cumbersome and will make it easier to use with an option.

I will look into your notebook and see if I can identify where the issue might be. I don't think it is a big issue to fix if it is a bug.

[2021-01-22 19:41] kwmcbride commented on #158
I am able to solve this model in my development version of KIPET. It solves pretty quickly to the correct values. You need to be careful with the number of finite elements, collocation points, and the initial value for 'y'. I have made initialization using simulation much simpler and it automatically includes custom variables outside the normally encountered variables in KIPET.
Also, sometimes it

[2021-01-23 03:03] notesofdabbler commented on #158
Can you share your code? What were the number of finite elements and collocation points you used? Is there a general guidance of how to set nfe and ncp?

[2021-01-23 10:24] kwmcbride commented on #158
In the code below I did not change much. Initial values are important though. I modified your data files so that they work with the KIPET format, so you only need to change the KIPET part. The line where I add the data should be replaced by the way you added them in your example.

To get these results you will need to use the nsd_new branch in my repository.

I will try to solve your problem using

[2021-01-23 16:36] kwmcbride commented on #158
I have tested it using FESimulator and run into similar issues. I can improve the chances of finding the correct parameter values with good initial values and by removing the bounds constraint on 'y'.

[2021-01-24 02:09] notesofdabbler commented on #158
Thanks for the pointers above and taking a look at this issue.

[2021-01-24 02:09] #158 closed, assigned to nobody

[2021-01-26 13:41] kwmcbride commented on #152
For your information, I have included a modified example of this problem as a new example problem in KIPET. See my branch nsd_new for more details. It replaces the fixed trajectory with a step function. This new arrangement also allows you to fit the switching time as well.

[2021-02-08 09:56] kwmcbride opened #160 "Unittests needed"
The problem is that KIPET only runs example problems to validate it, but does not perform any tests, such as those found in the unittest library.

I would like to see a robust library of unittests for KIPET. As I continue to make updates and modify the remaining examples, I will be implementing unittests where I can.

[2021-02-08 09:59] kwmcbride opened #161 "Better installation method"
Installing KIPET seems to be problematic for several users.

I would like to include scripts that allow users to install KIPET with only simple inputs such as the installation directory and potentially the environment, fork, branch, etc.

I have started to work on this because of my testing needs, but think it would be helpful for users as well. I have included a first version of such a script in

[2021-02-17 12:10] kwmcbride commented on #161
Kipet can now be installed as a package using the new structure.

[2021-02-17 12:10] #161 closed, assigned to nobody

[2021-02-25 18:13] SmithCJ47 opened #164 "Plotting Results Error"
When plotting results from example files (release 0.1.3), I get the following error:
OSError: [Errno 22] Invalid argument: 'C:/Users/c304301/.spyder-py3/kipet-0.1.3/examples/example_1/charts/reaction-1-all-concentration-profiles-2021-02-25-13:05:24.html'

I believe this issue is that file names cannot contain colons ":".

[2021-02-25 18:20] kwmcbride commented on #164
Probably an issue with Windows. I will change this in the next update.

[2021-02-25 19:36] kwmcbride commented on #164
This is fixed in pull request #165

[2021-02-25 19:36] #164 closed, assigned to nobody

[2021-02-25 19:52] kwmcbride commented on #164
Try version 0.1.4 from PyPi if you were using pip

[2021-02-25 22:03] SmithCJ47 commented on #164
Thank you! This fixed the problem!

[2021-02-25 22:05] SmithCJ47 opened #166 "Missing Module"
Tried to run example 1 and received the following error.

  File "C:\Users\c304301\Anaconda3\envs\Kipet_env\lib\site-packages\kipet\model_components\units_handler.py", line 187, in <module>
    import pytest

ModuleNotFoundError: No module named 'pytest'

I assume that pytest was left in by accident. I went in and commented it out the "import pytest" and the example ran just fine.

[2021-02-25 22:08] kwmcbride commented on #166
I have been working on some issues with the latest package. This was an error in a new module that was used for testing. It has been removed and the new packages of KIPET will be updated tomorrow at the latest.

[2021-02-25 22:11] SmithCJ47 commented on #166
I think you essentially said it, but I wanted to confirm that commenting out that import will not break anything important.

[2021-02-25 22:20] kwmcbride commented on #166
In that version you should delete everything below and including the import!

[2021-02-25 22:30] kwmcbride commented on #166
If you are using pip, you can install v0.1.531. It has all the current fixes and is the most up to date.

[2021-02-26 09:11] kwmcbride commented on #166
This issue has been fixed in the latest versions of KIPET.

[2021-02-26 09:11] #166 closed, assigned to nobody

[2021-06-30 18:45] kwmcbride commented on #122
This is probably old, but I fixed this in the recent update to KIPET. The reason was because of the additional constraints used to set C equal to Z when creating the subset Cs. These were redundant and ended up adding too many constraints, which causes k_aug to fail. If you use sIpopt, these extra constraints are identified and don't become noticeable.

In the current version of KIPET, there is no

[2021-06-30 18:45] #122 closed, assigned to nobody

[2021-06-30 18:46] kwmcbride commented on #78
This is now an included feature

[2021-06-30 18:46] #78 closed, assigned to nobody